@model LR.Models.Category
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured {
    @Model.Name
}
<fieldset class="item-details">
    @if (!string.IsNullOrEmpty(Model.Description)){
    <div class="row">
        <div class="col-sm-3 caption">
            @Html.DisplayNameFor(model => model.Description)
        </div>
        <div class="col-sm-3">
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>
    }
    @if (Model.ParentId!=null){
    <div class="row">
        <div class="col-sm-3 caption">Parent Category</div>
        <div class="col-sm-3">
            @Html.DisplayFor(model => model.Parent.Name)
        </div>
    </div>
    }
    <div class="row">
        <div class="col-sm-3">
            <img src="@Model.ImagePath" alt="@Model.Name" class="caption" />
        </div>
    </div>
    <div>
    @if (ViewBag.Questions.Count > 0){
        <table class="table">
            <thead>
                <tr>
                    <th>Question</th><th>Right Variant</th><th></th>
                </tr>
            </thead>
            @foreach (var question in ViewBag.Questions)
            {
                <tr>
                    <td><div class="questionShort">@Html.Raw(question.QuestionText)</div>
                    </td>
                    <td>@question.RightVariant.Value
                    </td>
                    <td>@Html.ActionLink("Delete", "DeleteQuestion", new { id = question.Id, categoryId = Model.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Edit", "EditQuestion", new { id = question.Id, categoryId = Model.Id }, new { @class = "btn btn-default" })
                    </td>
                </tr>
            }
        </table>
    }
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
    @Html.ActionLink("Back to List", "Index", "Home", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Add Question", "EditQuestion", new { categoryId = Model.Id }, new { @class = "btn btn-default" })
</p>
