@model LR.Models.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary(true)

    <fieldset class="item-details">
        <legend>Edit Category</legend>
        <div class="row">
            <div class="col-sm-3 caption">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="col-sm-3">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 caption">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="col-sm-3">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 caption">
                @Html.LabelFor(model => model.Difficulty)
            </div>
            <div class="col-sm-3">
                @Html.EditorFor(model => model.Difficulty)
                @Html.ValidationMessageFor(model => model.Difficulty)
            </div>
        </div>

        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="col-sm-3 caption">
                @Html.LabelFor(model => model.ParentId)
            </div>
            <div class="col-sm-3">
                @Html.DropDownListFor(model=>model.ParentId, new SelectList(ViewBag.Categories, "Id", "Name"))
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                @if(Model != null){
                    <img src="@Model.ImagePath" alt="@Model.Name" />
                }
                <input type="file" name="CategoryImage" />
            </div>
        </div>
        <div>
            <input type="submit" value="Save" class="btn btn-default" />
             @Html.ActionLink("Back to List", "Index", "Home", null, new { @class="btn btn-default" })
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
