@model IEnumerable<LR.Models.UserProfile>

@{
    ViewBag.Title = "Hall Of Fame";
}

<h2>Hall Of Fame</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @(item.Score.HasValue ? item.Score : 0)
        </td>
        <td>
            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink(item.isAdmin ? "Remove Admin" : "Make an Admin", "ChangeRole", new { id = item.UserId, role = "admin" }, new { @class = "btn btn-default" })
                @Html.ActionLink("Delete", "DeleteUser", new { id = item.UserId }, new { @class = "btn btn-default" })
            }
        </td>
    </tr>
}

</table>
