@model LR.Models.RaceModels.RaceModel
@{
    ViewBag.Title = "Game";
    ViewBag.BodyClass = "playground";
}
@Scripts.Render("~/bundles/gamelibs", "~/bundles/game")
@section customScripts{
    <script>
        var userId = @(CurrentUser.UserId);

        function getQuestions(){
            var qs = [];
            @foreach (LR.Models.Question sq in @ViewBag.questionList)
            {
                @:var q = new question('@sq.Id', '@Html.Raw(sq.QuestionText)', '@Model.RaceId');
                foreach (LR.Models.Variant sv in sq.Variants)
                {
                    @:var v = new variant('@sv.Id', '@sv.Value');
                    @:q.addVariant(v);
                }
                @:qs.push(q);
            }
            return qs;
        }
        function getRaceData(){
            var raceData = { id: '@Model.RaceId', length: @Model.Length, isStarted: @Model.IsStarted.ToString().ToLower(), racers: []};

            @foreach(LR.Models.RaceModels.RacerModel racer in Model.Racers){
                @:var c = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(racer.RaceCar));
                @:var r = new racer(@racer.Racer.UserId, '@racer.Racer.UserName', @racer.Length, @(racer.Length == 0 ? 0 : racer.Speed), @racer.IsReady.ToString().ToLower(), c);
                @:raceData.racers.push(r);
            }
            return raceData;
        }
        function getCarSelector(){
            var cars = [];
            var carColors = [];
            @foreach(string color in Enum.GetNames(typeof (LR.Models.CarColors))){
                @:carColors.push('@color');
            }

            @foreach (LR.Models.Car car in ViewBag.Cars){
                @:var c = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(car));
                @:cars.push(c);
            }
            return new carSelector(carColors, cars, '@Model.RaceId', '@ViewBag.CurrentRacer.RaceCar.Id');
        }
    </script>
}

<div class="row">
    <div class="carSelector col-sm-4 lr_block" data-bind="visible: !IsStarted()">
        <div class="lr_header">Select a car</div>
        <div data-bind="foreach: carSelector.carsCollection" class="clear">
            <div class="carItem" data-bind="click: function(){carSelector.setCar(Id)}, css:{ selected: carSelector.currentCarId() == Id }">
                <img data-bind="attr:{alt:Name, src:carSelector.imagePath(Name) }" />
            </div>
        </div>
        <div class="colorPicker clear" data-bind="foreach: carSelector.carColors">
            <div class="colorBox" data-bind="style:{background:$data}, click: function(){carSelector.setColor($data);}"></div>
        </div>
    </div>

    <div class="col-sm-4 raceDetails lr_block">
        <div class="lr_header">Racers</div>
        <div class="raceContainer">
            <table>
                <thead>
                    <tr><th>Name</th><th>Status</th></tr>
                </thead>
                <tbody data-bind="foreach: racers">
                    <tr>
                        <td data-bind="text: Name"></td>
                        <td>
                            <div data-bind="text: (userId == Id && ReadyTimeout()) ? ReadyTimeout : (IsReady() ? 'Ready' : 'Not Ready')"></div>
                        </td>
                        <td>
                            <a data-bind="visible: userId == Id && Length() >= TotalLength" class="btn btn-default" href="/Account/HallOfFame">Finish the race</a>
                            <button data-bind="click: changeStatus, text: IsReady() ? 'Not Ready' : 'Ready', visible: userId == Id && !IsStarted()" class="btn" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div data-bind="visible: RaceMessage(), text:RaceMessage()"></div>
            <div data-bind="visible: (QuestionIndex() >= questions().length && IsStarted() && !IsFinished())">
                There no more question for you, wait until race is over.
            </div>
        </div>
        <div class="lr_header">Question</div>
        <div data-bind="foreach: questions, visible: CurrentRacer().Length() < TotalLength">
            <div id="questionContainer" class="questionContainer" data-bind="visible: (QuestionIndex() == $index() && IsStarted())">
                <div>
                    Answer question below to increase speed of your car:
                </div>
                <h4 data-bind="html: QuestionText" class="questionText"></h4>
                <div data-bind="foreach: variants">
                    <div class="variant-container">
                        <div data-bind="text: Text, click: function(){$parent.sendAnswer(this, updateRacers, QuestionIndex)}, css: {wrong:wrong, right:right}" class="variantButton btn"></div>
                        <div class="icon icons-red-cross" data-bind="style:{display: wrong() ? 'block' : 'none'}"></div>
                        <div class="icon icons-green-checkmark" data-bind="style:{display: right() ? 'block' : 'none'}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="cnvRace"></div>
</div>
