@model LR.Models.RaceModels.RaceModel
@{
    ViewBag.Title = "Game";
    ViewBag.BodyClass = "playground";
}
@section customScripts{
    <script src="~/Scripts/kinetic-v4.5.5.min.js"></script>
    <script src="~/Scripts/knockout-2.3.0.js"></script>
    <script src="~/Scripts/Game/RaceController.js"></script>
    <script src="~/Scripts/Game/GameModel.js"></script>
    <script>
        var userId = @(CurrentUser.UserId);
        function getQuestions(){
            var qs = [];
            @foreach (LR.Models.Question sq in @ViewBag.questionList)
            {
                @:var q = new question('@sq.Id', '@Html.Raw(sq.QuestionText)', '@Model.RaceId');
                foreach (LR.Models.Variant sv in sq.Variants)
                {
                    @:var v = new variant('@sv.Id', '@sv.Value');
                    @:q.addVariant(v);
                }
                @:qs.push(q);
            }
            return qs;
        }
        function getRaceData(){
            var raceData = { id: '@Model.RaceId', length: @Model.Length, isStarted: @Model.IsStarted.ToString().ToLower(), racers: []};

            @foreach(LR.Models.RaceModels.RacerModel racer in Model.Racers){
                @:var r = new racer(@racer.Racer.UserId, '@racer.Racer.UserName', @racer.Length, @(racer.Length == 0 ? 0 : racer.Speed), @racer.RaceCar.DSpeed, @racer.RaceCar.AvrSpeed, @racer.IsReady.ToString().ToLower());
                @:raceData.racers.push(r);
            }
            return raceData;
        }
    </script>
}

<div class="row">
    <div id="cnvRace"></div>
    <div class="col-sm-4 raceDetails">
        <div class="raceContainer">
            <table>
                <thead>
                    <tr><th>Name</th><th>Status</th></tr>
                </thead>
                <tbody data-bind="foreach: racers">
                    <tr>
                        <td data-bind="text: Name"></td>
                        <td>
                            <div data-bind="text: IsReady() ? 'Ready' : 'Not Ready'"></div>
                        </td>
                        <td>
                            <a data-bind="visible: userId == Id && IsFinished()" class="btn btn-default" href="/Account/HallOfFame" >Finish the race</a>
                            <button data-bind="click: changeStatus, text: IsReady() ? 'Not Ready' : 'Ready', visible: userId == Id && !IsStarted()" class="btn" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div data-bind="visible: RaceMessage(), text:RaceMessage()"></div>
            <div data-bind="visible: (QuestionIndex() >= questions().length && IsStarted() && !IsFinished())">
                There no more question for you, wait until race is over.
            </div>
        </div>
        <div data-bind="foreach: questions">
            <div id="questionContainer" class="questionContainer" data-bind="visible: (QuestionIndex() == $index() && IsStarted())">
                <div>
                    Answer question below to increase speed of your car:
                </div>
                <h4 data-bind="html: QuestionText" class="questionText"></h4>
                <div data-bind="foreach: variants">
                    <div class="variant-container">
                        <div data-bind="text: Text, click: function(){$parent.sendAnswer(this, updateRacers, QuestionIndex)}, css: {wrong:wrong, right:right}" class="variantButton btn"></div>
                        <div class="icon icons-red-cross" data-bind="style:{display: wrong() ? 'block' : 'none'}"></div>
                        <div class="icon icons-green-checkmark" data-bind="style:{display: right() ? 'block' : 'none'}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
